.img {
  width: 300px;
  height: 300;
}

.title {
  border-style: double;
  border-radius: 20px;
  padding: 20px;
  background-color: antiquewhite;
  text-align: center;
}

.about {
  padding: 20px;
  background-color: aquamarine;
  text-align: center;
  font-size: 20px;
}
